<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.streamamg.PlayerActivity"
            android:exported="false" />
        <activity
            android:name="com.streamamg.PlayerViewActivity"
            android:exported="false" />
    </application>

</manifest>